*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
}

.btn{
    padding: 10px 0;
    display: block;
    border-radius: 3px;
    transition: background-color 0.7s;
    cursor: pointer;
    text-align: center;
    margin-top: 8px;
}

.btn-rosa{
    color: white;
    background-color: #fc5185;
}

.btn-rosa:hover{
    background-color: #f83771;
}

.btn-branco{
    color: #fc5185;
    border: 1px solid #fc5185;
    box-sizing: border-box;
    background-color: white;
}

.btn-branco:hover{
    color: white;
    background-color: #f83771;
}

.container{
    margin: 0 15px;
}

/*HEADER PRINCIPAL*/
.header-principal{
    padding: 12px 0;
}

.container-header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 187px;
}

#btn-menu{
    color: #737373;
    border: 1px solid #e5e5e5;
    font-size: 1.5em;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    background-color: transparent;
}

.container-menu{
    margin-top: 10px;
    overflow: hidden;
}

.menu{
    padding: 0;
    line-height: 2.5;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    height: 0px;
    transition: height 0.6s;
}

.menu li{
    list-style-type: none;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: color 0.6s;
    width: 100%;
    border-bottom: 4px solid transparent;
}

.menu li a:hover{
    color: #3f4f6b;
    border-bottom: 4px solid #3f4f6b;
    box-sizing: border-box;
}

/*APRESENTAÇÃO*/
.apresentacao{
    margin-top: 30px;
}

.apresentacao .container-txt h1{
    margin: 0;
}

.apresentacao .container-txt p{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    margin: 10px 0 23px 0;
}