*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
}

h2{
    font-size: 1.55em;
    text-transform: uppercase;
    font-weight: 700;
}

h3{
    color: #c8c8c8;
    font-weight: 400;
    font-size: 1.3em;
    margin: 10px 0;
    display: inline-block;
}

h4{
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
}

img{
    max-width: 100%;
}

.btn{
    padding: 10px 0;
    display: block;
    border-radius: 3px;
    transition: background-color 0.7s;
    cursor: pointer;
    text-align: center;
    margin-top: 8px;
}

.btn-rosa{
    color: white;
    background-color: #fc5185;
}

.btn-rosa:hover{
    background-color: #f83771;
}

.btn-branco{
    color: #fc5185;
    border: 1px solid #fc5185;
    box-sizing: border-box;
    background-color: white;
}

.btn-branco:hover{
    color: white;
    background-color: #f83771;
}

.container{
    margin: 0 15px;
}

/*HEADER PRINCIPAL*/
.header-principal{
    padding: 12px 0;
    /*width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9999*/;
}

.container-header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 187px;
}

#btn-menu{
    color: #737373;
    border: 1px solid #e5e5e5;
    font-size: 1.5em;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    background-color: transparent;
}

.container-menu{
    margin-top: 10px;
    overflow: hidden;
}

.menu{
    padding: 0;
    line-height: 2.5;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    height: 0px;
    transition: height 0.6s;
}

.menu li{
    list-style-type: none;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: color 0.6s;
    width: 100%;
    border-bottom: 4px solid transparent;
}

.menu li a:hover{
    color: #3f4f6b;
    border-bottom: 4px solid #3f4f6b;
    box-sizing: border-box;
}

/*APRESENTAÇÃO*/
.apresentacao{
    margin-top: 30px;
    background-image: url('../img/slider-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.apresentacao .container-txt h1{
    margin: 0;
}

.apresentacao .container-txt p{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    margin: 10px 0 23px 0;
}

.apresentacao .container-img{
    margin-top: 25px;
    position: relative;
}

.apresentacao .container-img img{
    width: 100%;
}

/*SOBRE*/
.sobre{
    margin-top: 120px;
}

.sobre p{
    color: #212121;
    font-size: 0.97em;
}

#btn-contatar{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
}

/*SERVIÇOS*/
.servicos{
    text-align: center;
}

.lista-servicos p{
    color: #c8c8c8;
    font-weight: 700;
    font-size: 1em;
    margin: 10px 0;
    display: inline-block;
}

.lista-servicos article{
    background-color: #f0f0f0;
    margin-top: 25px;
    border-radius: 3px;
    padding: 15px 0;
    transition: transform .2s;
    cursor: pointer;
}

.lista-servicos article:hover{
    transform: scale(1.04, 1.04);
    box-shadow: 8px -8px 10px -15px black, -8px 8px 10px -15px black;
    background-color: white;
}

.clientes{
    margin-top: 140px;
}

.clientes img{
   filter: grayscale(100%);
   opacity: 0.6;
}