*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
}

h2{
    font-size: 1.55em;
    text-transform: uppercase;
    font-weight: 700;
}

h3{
    color: #c8c8c8;
    font-weight: 400;
    font-size: 1.3em;
    margin: 10px 0;
    display: inline-block;
}

h4{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
}

img{
    max-width: 100%;
}

.btn{
    padding: 10px 0;
    display: block;
    border-radius: 3px;
    transition: background-color 0.7s;
    cursor: pointer;
    text-align: center;
    margin-top: 8px;
}

.btn-rosa{
    color: white;
    background-color: #fc5185;
}

.btn-rosa:hover{
    background-color: #f83771;
}

.btn-branco{
    color: #fc5185;
    border: 1px solid #fc5185;
    box-sizing: border-box;
    background-color: white;
}

.btn-branco:hover{
    color: white;
    background-color: #f83771;
}

.container{
    margin: 0 15px;
}

/*HEADER PRINCIPAL*/
.header-principal{
    padding: 12px 0;
    /*width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9999*/;
}

.container-header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 187px;
}

#btn-menu{
    color: #737373;
    border: 1px solid #e5e5e5;
    font-size: 1.5em;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    background-color: transparent;
}

.container-menu{
    margin-top: 10px;
    overflow: hidden;
}

.menu{
    padding: 0;
    line-height: 2.5;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    height: 0px;
    transition: height 0.6s;
}

.menu li{
    list-style-type: none;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: color 0.6s;
    width: 100%;
    border-bottom: 4px solid transparent;
}

.menu li a:hover{
    color: #3f4f6b;
    border-bottom: 4px solid #3f4f6b;
    box-sizing: border-box;
}

/*APRESENTAÇÃO*/
.apresentacao{
    margin-top: 30px;
    background-image: url('../img/slider-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.apresentacao .container-txt h1{
    margin: 0;
}

.apresentacao .container-txt p{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    margin: 10px 0 23px 0;
}

.apresentacao .container-img{
    margin-top: 25px;
    position: relative;
}

.apresentacao .container-img img{
    width: 100%;
}

/*SOBRE*/
.sobre{
    margin-top: 120px;
}

.sobre p{
    color: #212121;
    font-size: 0.97em;
}

#btn-contatar{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
}

/*SERVIÇOS*/
.servicos{
    text-align: center;
    margin-top: 130px;
}

.lista-servicos p{
    color: #c8c8c8;
    font-weight: 700;
    font-size: 1em;
    margin: 10px 0;
    display: inline-block;
}

.lista-servicos article{
    background-color: #f0f0f0;
    margin-top: 25px;
    border-radius: 3px;
    padding: 15px 0;
    transition: transform .2s;
    cursor: pointer;
}

.lista-servicos article:hover{
    transform: scale(1.04, 1.04);
    box-shadow: 8px -8px 10px -15px black, -8px 8px 10px -15px black;
    background-color: white;
}

.clientes{
    margin-top: 140px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 25px;
}

.clientes div{
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    padding: 10px 0;
    transition: transform .2s;
    box-sizing: border-box;
    cursor: pointer;
}

.clientes div a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientes div a img{
   filter: grayscale(100%);
   opacity: 0.6;
   max-height: 70px;
   width: 100%;
}

.clientes div:hover img {
    filter: none;
    opacity: 1;
}

.clientes div:hover{
    transform: scale(1.2, 1.2);
    box-shadow: 8px -8px 10px -15px black, -8px 8px 10px -15px black;
}

.contato-telefone{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 40px 5px;
    background-color: #f0f0f0;
    padding: 50px 25px 30px 5px;
    margin-left: 50px;
    align-items: center;
}

.contato-telefone p{
    text-align: left;
}

.img-clientes{
    margin-left: -50px;
}

.img-clientes img{
    width: 100%;
    max-height: 130px;
}

.txt-experiencia{
    color: #bababa;
    font-size: 1.5em;
    line-height: 1;
}

.txt-experiencia span{
    font-size: 5em;
    font-weight: 900;
    color: #304b67;
    letter-spacing: -10px;
}

.txt-telefone span{
    color: #737373;
    font-size: 1.5em;
    font-weight: 700;
}

.txt-telefone{
    color: #bababa;
    font-size: 0.9em;
    line-height: 1.5;
}

/*SERVIÇOS RECENTES*/
.servicos-recentes{
    margin: 130px 0;
}

.servicos-recentes header{
    text-align: center;
}

.menu-servicos{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    margin: 20px 0 35px 0;
    line-height: 1.7;
}

.menu-servicos li{
    list-style-type: none;
    margin-right: 40px;
    cursor: pointer;
}

.menu-servicos .btn-ativo{
    color: #fc5185;
}

.cards-servicos{
    line-height: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.cards-servicos figure{
    transition: margin 0.4s;
}

.cards-servicos p{
    font-size: 0.8em;
}

.cards-servicos img{
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}

.modal{
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    margin: 0;
    padding: 0;
}

.modal .container-img{
    position: relative;
}

.modal .container-img img{
    width: 70vw;
}

.modal .container-img p{
    color: #b1b1b1;
    text-align: right;
    font-weight: 300;
    font-size: 0.9em;
}

.container-btn-fechar{
    position: absolute;
    top: -30px;
    right: 0px;
    z-index: 9999;
}

#btn-fechar{
    color: #a9a9a9;
    font-size: 1.2em;
    cursor: pointer;
}

#btn-voltar{
    /*position: absolute;
    left: 0;
    top: 50vh;*/
    color: #a9a9a9;
    font-size: 2.2em;
    cursor: pointer;
}

#btn-avancar{
    /*position: absolute;
    right: -10;
    top: 50vh;*/
    color: #a9a9a9;
    font-size: 2.2em;
    cursor: pointer;
    z-index: 9999;
}

/*CLASSE HIDDEN*/
.hidden{
    display: none;
}

/*DEPOIMENTOS*/
.depoimentos{
    margin-bottom: 250px;
}

.depoimentos header{
    text-align: center;
    margin-bottom: 15px;
}

.area-depoimentos{
    /*display: grid;
    grid-template-columns: repeat(auto, 400px);
    grid-template-rows: repeat(1, 1fr);*/
    display: flex;
    overflow: hidden;
}

.area-depoimentos article{
    background-color: #f0f0f0;
    padding: 35px 30px;
    display: inline-block;
    min-width: 350px;
    max-width: 350px;
    margin-right: 15px;
}

.topo-article{
    display: flex;
}

.topo-article img{
    width: 320px;
}

.topo-article div:nth-child(1){
    align-self: flex-end;
    margin-bottom: 30px;
}

.topo-article div:nth-child(2){
    margin-left: 15px;
}

.topo-article p span{
    color: #9b9797;
}

.simbolo-nota{
    text-align: right;
    margin-top: 25px;
}
